* {
  box-sizing: border-box;
}
h1 {
  text-align: center;
  margin: 45px;
}
#p{
  padding: 5px;
}
.block{
    border: 3px solid black;
    background-color: #a8a8a8;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}
.t1{
    background-color: lightpink;
}
.t2{
    color:white;
    background-color: #ff6961;
}
.t3{
    background-color: #F6E8B1;
}
#title{
    margin-left: 65%;
    text-align: center;
    font-weight: bold;
    font-size: 120%;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    padding: 7px;
}
/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Large devices only **********/
@media (min-width: 922px) {
    .col-lg-4 {
        float: left;
        width: 33.33%;
    }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 921px) {
  #b3{
    width: 97.5%;
  }
  .col-md-6,.col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12{
    width: 100%;
  }
}