body {
  font-size: 16px;
  color: #fff;
  background-image: url("https://images.hdqwalls.com/download/best-nature-image-1440x900.jpg");
  background-repeat: no;
  background-size: 100%;
  background-attachment: fixed;
}

/** HEADER **/
#header-nav {
  background-color: black;
  border-radius: 0;
  border: 0;
}
.navbar-brand {
  padding-top: 25px;
  height: 100px;
}

.navbar-brand h1 {
  color: orange;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: orange;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

h2{
  color: black;
  text-align: center;
  margin-top: 25px;
}
h2 span{
  font-weight: bold;
  padding: 10px 20px 10px 20px;
  border: 1px solid black;
  color: black;
}
.menu-item-tile{
  background-color: #fed8b1;
  border: 1px solid black;
  margin-top: 25px;
  margin-left: -45px;
  margin-right: -45px;
}
.menu-item-tile .menu-item-title{
  padding-top: 15px;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}
.t1{
    background-color: pink;
}
.t2{
    color:white;
    background-color: #ff6961;
}
.t3{
    background-color: #cc99ff;
}
#title{
  color: black;
  border: 1px solid black;
  padding: 5px 30px;
}
.menu-item-description{
  padding: 15px;
  margin: 10px;
  color: black;
  font-size: 1.2em;
}
@media(min-width: 1090px){
  .navbar-brand h1{
    margin-left: -45px;
  }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  body{
    background-image: url("");
  }
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    margin-left: 0px;
    font-size: 9vw; /* 1vw = 1% of viewport width */
  }
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
  
  /* End Header */
  .menu-item-tile{
    margin-top: 25px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .menu-item-description{
  font-size: 1em;
}
}
