body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
}

h2{
  text-align: center;
  margin-top: 30px;
}
.menu-item-tile{
  background-color: gray;
    margin-top: 25px;
  margin-left: -45px;
    margin-right: -45px;
}
.menu-item-tile .menu-item-title{
  padding-top: 15px;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}
#title{
  background-color: ;
  border: 1px solid black;
  padding: 5px 30px;
}
.menu-item-description{
  margin: 10px;
  font-size: 1.2em;
}
/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
  /* End Header */

}
